@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: #7D4698;
  }
}

.md-header {
  background-color: #7D4698;
}

.wy-menu-vertical li a {
  color: #fff!important;
}

.wy-menu-vertical li.current a {
  color: #000!important;
}

.wy-nav-content {
  max-width: 100%;
}

.wy-side-nav-search {
  background-color: inherit;
}
